body {
       background-color:#633CCD;   
}

.circle1 {
       height: 200px;
       width: 200px;
       border-radius: 50%;
       background-color: #FFE66D;
       display: flex;
       align-items: center;
       justify-content: center;
       top: 50%;
       left: 50%;
     }
   
.circle2 {
       width: 50px;
       height: 100px;
       background-color: #5DD9C1;
       border-radius: 50%;
       justify-content: left;
     }

.oval { 
       background:#5DD9C1;
       justify-content: right;
}

.oval1 { 
       background:#5DD9C1;
       justify-content: top;
}

.kids { margin-top: 10%;
       font-size: x-large;
     }

.kid-call {
       background-position: center;
       margin-top: 10%;
       font-size: x-large;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#center {
       margin-top: 10%;
  font-size: x-large;
    
}
#c-c { 
       margin-top: 10%;
}
#cal {
       font-size:200px;
       padding: 50%;
       justify-content: center;
}