body {
  background: #F2E9E4;
  padding: 3% 5%;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 48px;
}

p,
label {
  font-size: 24px;
}

header img {
  height: 95px;
  width: 115px;
}

form {
  width: 650px;
  margin: 0 auto;
  padding: 2%;
}

form input[type=text],
form input[type=password] {
  width: 650px;
}

form input[type=submit] {
  display: block;
  background: #FC7A57;
  font-size: 24px;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
}

form input[type=submit]:hover {
  background: #FDB6A2;
 
}

#signup-text {
  text-align: center;
  padding: 2%;
}

.elderly {
  font-family: 'Roboto', sans-serif;
}

.kids {
  font-family: 'Architects Daughter', cursive;
}

#image-links {
  padding: 3%;
}

#image-links p {
  font-size: 36px;
  font-weight: 400px;
  text-align: center;
  padding-top: 2%;
}

#image-links img {
  height: 55%;
  width: 60%;
  display: block;
  margin: 0 auto;
}

#image-links img:hover{
  box-shadow: 0 0 20px #345bcd;
  cursor: pointer;
}

#selectText {
  padding-top: 5%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 700px){
  body {
    text-align: center;
  }

  header {
    display: inline;
  }

  h1 {
    font-size: 36px;
    padding: 1%;
  }

  h2 {
    font-size: 28px;
    padding: 1%;
  }

  p,
  label {
    font-size: 16px;
  }

  form {
    width: 400px;
  }

  form input[type=text],
  form input[type=password] {
    width: 350px;
    margin: 0 auto;
  }

  header img {
    display: block;
    height: 60px;
    width: 85px;
    margin: 0 auto;
  }

  form input[type=submit] {
    font-size: 16px;
  }

  #image-links p {
    padding-top: 10%;
    font-size: 22px;
  }
  
  #image-links img {
    height: 55%;
    width: 60%;
  }
}

.far {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
}


.background-elderly {
  background-image: linear-gradient(to right, #F5DC55, #EFEF51);  
  height: 100%;
}

.container-elderly {
  height: 500px;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black;
  border-style: solid;
  border-radius: 25px;
  }

  #calendar {
      font-size: 180px;
      background-color: #E5E5E5;
      padding-bottom: 10%;
      padding-left: 30%;
      
  }

  .grid {
    display: grid;
    gap: 4rem;
    /* grid-auto-flow: dense;  */
    grid-template-columns: repeat(auto-fit, 50rem); 
    justify-content: center;
    margin-top: 30%;
}

/* .grid > * {
    align-items: flex-start;
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
} */
